/* General formatting */
body {
  padding: 0 10px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    "Segoe UI", "lucida grande", "helvetica neue", helvetica, "Fira Sans",
    roboto, noto, "Droid Sans", cantarell, oxygen, ubuntu,
    "franklin gothic medium", "century gothic", "Liberation Sans", sans-serif;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

p {
  align-content: center;
}

/* Narrow Column */
.content-column {
  max-width: 65%;
  margin: 40px auto;
}

/* Full-width and Full-height */
.vis-holder {
  width: 100%;
  height: 100%;
}

.word-highlighted {
  outline: 2px;
  outline-color: aqua;
}

#charts {
  width: 100%;
}

/* Tooltip class styling goes here */
.tooltip {
  position: absolute;
  text-align: center;
  padding: 10px;
  font: 18px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
}

/* TOGGLE STYLING */
#toggle {
  align-content: center;
}
label.radio {
  cursor: pointer;
}
label.radio input {
  position:absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}
label.radio span {
  padding: 7px 14px;
  border: 2px solid #EEE;
  display: inline-block;
  color: #009BA2;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: "Open Sans";
}
label.radio input:checked + span {
  border-color: #009BA2;
  color:rgb(2, 66, 47);
}