/* General formatting */
body {
  padding: 0 10px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    "Segoe UI", "lucida grande", "helvetica neue", helvetica, "Fira Sans",
    roboto, noto, "Droid Sans", cantarell, oxygen, ubuntu,
    "franklin gothic medium", "century gothic", "Liberation Sans", sans-serif;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

p {
  align-content: center;
}

p2 {
  font-size: 15px;
}

/* Narrow Column */
.content-column {
  max-width: 65%;
  margin: 40px auto;
}

/* Full-width and Full-height */
.vis-holder {
  height: 50%;
  justify-content: center;
  display: flex;
  flex: 1;
}

#entire-holder {
  /* background-color: beige; */
}

#title-and-annotation {
  /* background-color: rgb(231, 212, 158); */
  display: flex;
  /* flex-direction: row; */
  /* flex: 2; */
  /* outline: solid; */
}

#title {
  max-width: 600px;
}

#annotationBox {
  max-height: 400px;
  font-size: 20px;
  min-width:  265px;
  max-width: 265px;;
  text-align: left;
}


#legends {
  flex-direction: column;
  column-gap: 50px;
  /* background-color: lightcoral; */
  outline: dotted;
  align-items: center;
  max-width: 500px;
  max-height: 350px;
  border-radius: 5px;
  padding: 10px;
  /* justify-content: space-evenly; */
}

#main-charts {
  flex-direction: row;
  height: fit-content;

  /* outline: solid; */
  /* background-color: gray; */
}
#word-cloud {
  flex: 1;
  max-height: 450px;
  max-width: 600px;
  /* background-color: black; */

  /* outline: solid; */
}

#bar-chart {
  flex: 1;
  max-height: 550px;
  max-width: 580px;
  /* background-color: beige; */

  /* outline: solid; */
}

#pie-chart {
  flex: 1;
  max-height: 550px;
  max-width: 250px;
  align-items: center;
}

#word-art {
  flex: 1;
  align-items: center;
  outline: solid;
}

/* TOGGLE STYLING */
#toggle {
  /* flex-direction: row; */
  max-height: 60px;
}

.word-highlighted {
  outline: 2px;
}

label.radio {
  cursor: pointer;
}
label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}
label.radio span {
  padding: 7px 14px;
  border: 2px solid #eee;
  display: inline-block;
  color: #009ba2;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: "Open Sans";
}
label.radio input:checked + span {
  border-color: #009ba2;
  color: rgb(2, 66, 47);
}

.selected {
  opacity: 1 !important;
  fill: blueviolet;
}

.notSelected {
  opacity: 0.5 !important;
  fill: blueviolet;
}

.container {
  position: relative;
  text-align: center;
}
