/* General formatting */
body {
  padding: 0 10px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    "Segoe UI", "lucida grande", "helvetica neue", helvetica, "Fira Sans",
    roboto, noto, "Droid Sans", cantarell, oxygen, ubuntu,
    "franklin gothic medium", "century gothic", "Liberation Sans", sans-serif;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

p {
  align-content: center;
}

/* Narrow Column */
.content-column {
  max-width: 65%;
  margin: 40px auto;
}

/* Full-width and Full-height */
.vis-holder {
  height: 50%;
  justify-content: center;
  display: flex;
  flex: 1;
}

#line-chart {
  /* background-color: #009BA2; */

  /* outline: solid; */
}

#placeholder {
  /* background-color: lightgreen; */

  /* outline: solid; */
}

#title-and-annotation {
  /* background-color: rgb(231, 212, 158); */
  flex-direction: row;
  flex: 2;
  /* outline: solid; */
}

#legends {
  flex-direction: column;
  column-gap: 50px;
  /* background-color: lightcoral; */
  /* outline: solid; */
}

#main-charts {
  flex-direction: row;
  height: 800px;

  /* outline: solid; */
  /* background-color: gray; */
}
#word-cloud {
  flex: 1;
  max-height: 500px;
  max-width: 580px;
  /* background-color: black; */

  /* outline: solid; */
}

#bar-chart {
  flex: 1;
  max-height: 500px;
  max-width: 580px;
  /* background-color: beige; */

  /* outline: solid; */
}

/* TOGGLE STYLING */
#toggle {
  flex-direction: row;
}


.word-highlighted {
  outline: 2px;
}

/* Tooltip class styling goes here */
.tooltip {
  position: absolute;
  text-align: center;
  padding: 10px;
  font: 18px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
}

label.radio {
  cursor: pointer;
}
label.radio input {
  position:absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}
label.radio span {
  padding: 7px 14px;
  border: 2px solid #EEE;
  display: inline-block;
  color: #009BA2;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: "Open Sans";
}
label.radio input:checked + span {
  border-color: #009BA2;
  color:rgb(2, 66, 47);
}

.selected {
  opacity: 1 !important;
  fill: blueviolet;
}

.notSelected {
  opacity: 0.5 !important;
  fill: blueviolet;
}